.algorithm-visualizer-wrapper {
    .algorithm-bar-wrapper {
        margin: auto;
        width: 90%;

        .algorithm-bar {
            text-align: center;
            margin: 0 3px 0 3px;
            display: inline-block;
            background-color: lightblue;
        }
    }

}