.home-wrapper {
    .intro-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .head-wrapper {    
            .head-shot {
                border: 1px transparent black;
                border-radius: 250px;
                margin: 50px 7rem 0 0;
                width: 250px;
            }
        }
    
        .intro-wrapper {
            color: #212529;
            font-family: 'Roboto', sans-serif;
            width: 100%;
    
            .intro-title {
                font-size: 34px;
                font-weight: 700;
                margin: 75px 0 0 125px;
                max-width: 500px;
            }
    
            .intro-text {
                font-size: 18px;
                font-weight: 300;
                line-height: 25px;
                margin: 15px 0 5px 125px;
                max-width: 560px;
            }
        }
    }

    .copy-email {
        border-bottom: 1px solid #000;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        margin: 0 0 150px 125px;

        height: 20px;
        width: 188px;
        
        &:hover {
            background-color: #000;
            color: #fff;
        }
    }

    .copy-popup {
        background-color: #e8eaed;
        border-radius: 10px;
        line-height: 30px;
        position: fixed;
        text-align: center;

        height: 30px;
        width: 175px;
    }
    
    .projects-wrapper {
        .projects-title {
            font-size: 28px;
            font-weight: 700;
            margin: 0 0 0 125px;
            max-width: 500px;
        }

        .projects-link {
            height: 25px;
            width: 225px;
            margin: 25px 0 0 125px;
            background-color: #212529;
            color: white;
            text-align: center;
            line-height: 25px;
        }
    }
}