.home-wrapper {
    .intro-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .head-wrapper {    
            .head-shot {
                border: 1px transparent black;
                border-radius: 250px;
                margin: 50px 8rem 0 0;
                width: 250px;
            }
        }
    
        .intro-wrapper {
            color: #212529;
            font-family: 'Roboto', sans-serif;
            width: 100%;
    
            .intro-title {
                font-size: 34px;
                font-weight: 700;
                margin: 75px 0 0 125px;
                max-width: 500px;
            }
    
            .intro-text {
                font-size: 18px;
                font-weight: 300;
                margin: 15px 0 15px 125px;
                max-width: 560px;
            }
        }
    }

    .projects-link {
        height: 25px;
        width: 225px;
        margin-left: 150px;
        background-color: black;
        color: white;
        text-align: center;
        line-height: 25px;
    }
}