.nav-item {
    border-bottom: 2px solid transparent;
    color: #5f6368;
    cursor: pointer;
    flex-grow: 1;
    height: 50px;
    line-height: 50px;
    user-select: none;
    width: 50px;
    
    &.selected {
        border-bottom-color: #1a73e8;
    }

    &:hover {
        color: #202124;
    }

    .nav-item-title {
        font-family: "Google Sans",Arial,Helvetica,sans-serif;
        letter-spacing: .01562rem;
        text-align: center;
    }
}